*{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}
nav, a{
    font-size:17px;
    background-color: rgb(90, 45, 7);
    color: white;
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 60em;
}
#autoras{
    color: dimgray;
}
.conteudo{
    display: table;
}
.imagem{
    display: table-cell;
    float: left;
}
.texto{
    display: table-cell;
    float: left;
    width: 630px;
    margin-top: -10px;
    margin-left: 30px;
}
.h1nomes{
    font-size: 40px;
}
#video{
    width: 960px;
}
.text{
    display: table-cell;
    float: right;
    width: 630px;
    margin-top: -155px;
    margin-right: 30px;
}
.img{
    display: table-cell;
}
.img2{
    text-align: center;
    
}